<footer class="page-footer grey darken-3 white-text">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
          <p class="title play">FOLLOW US</p>
          <a href="https://www.facebook.com/cutmytaxin" target="_blank" mz-button float="true" class="transparent">
            <i mz-icon-mdi
              [align]="'center'"
              [icon]="'facebook'">
            </i>
          </a>
          <a href="https://www.linkedin.com/in/cutmytaxin" target="_blank" mz-button float="true" class="transparent">
            <i mz-icon-mdi
              [align]="'center'"
              [icon]="'linkedin'">
            </i>
          </a>
          <a href="https://www.instagram.com/cutmytaxin" target="_blank" mz-button float="true" class="transparent">
            <i mz-icon-mdi
              [align]="'center'"
              [icon]="'instagram'">
            </i>
          </a>
      </div>
      <div class="col l6 s12">
        <div class="row">
          <div class="col l12 s12">
              <p class="title play t-text">EMAIL</p>
              <a href="mailto:support@cutmytax.in" target="_self" class="white-text">support@cutmytax.in</a>
          </div>
        </div>
        <div class="row">
          <div class="col s12 l12">
              <p class="title play t-text">PHONE</p>
              <a href="tel:+917019701031" class="white-text">7019 701 031</a>
          </div>
        </div>
        <div class="row">
          <div class="col s12 l12">
              <p class="title play t-text">ADDRESS</p>
              <p>Bangalore</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright black white-text">
    <div class="container">
      Copyright &#9400; 2018 <a href="http://cutmytax.in" class="white-text">www.cutmytax.in</a>
    </div> 
  </div>
</footer>
