<header role="banner" class="site-header">
  <mz-navbar cmtCStyle tag="nav" value="transparent z-depth-0">
    <button mz-button float="true" class="transparent z-depth-0 hide-on-large-only" id="btn-sidenav">
        <i mz-icon-mdi
          [align]="'center'"
          [icon]="'menu'">
        </i>
    </button>
    <a href="#" class="brand-logo play">
      <span class="title">CUT MY TAX</span>
      <small class="subtitle hide-on-med-and-down">We take care of all your accounting needs</small>
    </a>
    <mz-navbar-item-container [align]="'right'" class="hide-on-med-and-down">
      <mz-navbar-item><a href="#">HOME</a></mz-navbar-item>
      <mz-navbar-item><a href="#">ABOUT US</a></mz-navbar-item>
      <mz-navbar-item><a routerLink="js">BLOG</a></mz-navbar-item>
      <mz-navbar-item><a href="#">FAQ</a></mz-navbar-item>
      <mz-navbar-item><a href="#">GALLERY</a></mz-navbar-item>
      <mz-navbar-item><a href="#">SERVICES</a></mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
  <ng-content></ng-content>
</header>

<mz-sidenav
  [id]="'sidenav'"
  [collapseButtonId]="'btn-sidenav'">
  <mz-sidenav-header>
    <h4 class="center-align">Cut My Tax</h4>
  </mz-sidenav-header>
  <mz-sidenav-subheader class="center-align">
    <small>We take care of all your accounting needs</small>
  </mz-sidenav-subheader>
  <mz-sidenav-link>
    <a href="#" class="waves-effect">Home</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a href="#" class="waves-effect">ABOUT US</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a href="#" class="waves-effect">BLOG</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a href="#" class="waves-effect">FAQ</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a href="#" class="waves-effect">GALLERY</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a href="#" class="waves-effect">SERVICES</a>
  </mz-sidenav-link>
</mz-sidenav>
