.site-header {
    background-image: url("/assets/account.jpg");
}

@media only screen and (min-width : 993px) {
    .brand-logo .title {
        border-right: 1px solid;
    }
}

@media only screen and (max-width: 992px) {
    .brand-logo {
        left: auto;
        -webkit-transform: none;
        transform: none;
    }
}

.brand-logo .title {
    padding: 0 10px;
}

.brand-logo .subtitle {
    padding: 0 10px;
}