.home-header {
    color: #fff;
}

.home-header .title {
    font-size: 7.5em;
    font-weight: bold;
    margin: 18px 0;
    line-height: 1.14;
}

.home-header .subtitle {
    font-size: 1.71em;
}

@media only screen and (max-width: 992px) {
    .home-header .title {
        font-size: 5.5em;
    }
}