<cmt-navbar>
    <cmt-header></cmt-header>
</cmt-navbar>

<section class="container">
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="/assets/tax.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title cyan-text text-darken-2">Personal Tax Presentation</span>
                    <p>We stay up-to-date on all the regulatory and legislative developments so you don’t waste time and energy trying to make sense of all the accounting complexities. Contact us today and see how we can help you.</p>
                </div>
                <div class="card-action">
                    <a href="#" class="cyan-text text-darken-2">Learn more</a>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="/assets/gst.png">
                </div>
                <div class="card-content">
                    <span class="card-title cyan-text text-darken-2">GST Return Filling</span>
                    <p>Our advisors provide individualized services to help alleviate your financial uncertainty and stress. With many years of experience, our experts have the knowledge and expertise to handle any situation.</p>
                </div>
                <div class="card-action">
                    <a href="#" class="cyan-text text-darken-2">Learn more</a>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="/assets/return.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title cyan-text text-darken-2">Income Tax (ITR) Filing</span>
                    <p>We stay up-to-date on all the regulatory and legislative developments so you don’t waste time and energy trying to make sense of all the accounting complexities. Contact us today and see how we can help you.</p>
                </div>
                <div class="card-action">
                    <a href="#" class="cyan-text text-darken-2">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container stock">
    <div class="row">
        <div class="col s12 center-align">
            <p class="title cyan-text text-darken-2">For Your Accounting Needs</p>
            <p class="subtitle">We specialize in a variety of accounting services with outstanding support. We understand how busy you are, and with our expertise we can take care of your accounting needs quickly and effectively. We are equipped to handle the books for you, leaving you to worry less and live more.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <p class="title cyan-text text-darken-2">Our Way -> Accounting Experts</p>
            <p class="subtitle">At cutmytax, we provide unparalleled personalized accounting services to a broad range of clients across the San Francisco area. As your certified accountants, we are here to ensure that all of your financial decisions are made carefully and with your best interests in mind. We are ready and able to serve as your financial advisor, tax planner, and guide down your path to success.</p>
        </div>
    </div>
</div>

<section class="container next">
    <div class="divider"></div>
    <div class="row valign-wrapper">
        <div class="col s12 m8 l8">
            <p class="title cyan-text text-darken-2">Next Steps...</p>
            <p class="subtitle">Feel free to reach out to us for a quote or perusing your services catalog.</p>
        </div>
        <div class="col s12 m4 l4 center-align">
            <button mz-button>Call to Action</button>
        </div>
    </div>
</section>

<cmt-footer></cmt-footer>