.card-title {
    font-size: 1.5em;
    font-weight: bold;
}

.card-image img {
    height: 160px;
}

.stock .title, .next .title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 0;
}

.stock .subtitle, .next .subtitle {
    font-size: 1.25em;
}